
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100vh;
//   background-color: yellow ;
//   background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
//     radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
// }
// canvas {
//   position: fixed;
//   width: 100%;
//   height: 100%;
// }


.frame-1-J2G {
  width: 100%;
  height: 100vh;
  position: relative;
}
.frame-1-J2G .desktop-1-v3e {
  box-sizing: border-box;
  padding: 23.9rem 11.8rem 23.9rem 11rem;

  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  /* background: linear-gradient(180deg, #4a2248 -0%, rgba(103, 40, 70, 0) 93.75%); */
  /* background-image: url(''); */

}

.frame-1-J2G .navbar-1-default-DVv {
  width: 100%;
  height: 7.7rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #0a000b 18.75%, rgba(11, 2, 12, 0) 100%);
}
.frame-1-J2G .navbar-1-default-DVv .auto-group-euva-876 {
  margin: 0rem 46rem 1.4rem 0rem;
  width: 13.7rem;
  height: 6.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.26;
  color: #b528cc;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #0a000b 18.75%, rgba(11, 2, 12, 0) 100%);
  flex-shrink: 0;
  
}
.frame-1-J2G .navbar-1-default-DVv .auto-group-xzd2-7Up {
  margin: 0.5rem 1.2rem 0.3rem 0rem;
  width: 13.8rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #b528cc;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #0a000b 18.75%, rgba(11, 2, 12, 0) 100%);
  flex-shrink: 0;
}
.frame-1-J2G .navbar-1-default-DVv .auto-group-j8a8-MPA {
  margin: 0.3rem 1.2rem 0.5rem 0rem;
  width: 13.8rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #b528cc;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #0a000b 18.75%, rgba(11, 2, 12, 0) 100%);
  flex-shrink: 0;
}
.frame-1-J2G .navbar-1-default-DVv .auto-group-t5kg-okx {
  margin: 0.5rem 1.2rem 0.3rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #b528cc;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #0a000b 18.75%, rgba(11, 2, 12, 0) 100%);
  flex-shrink: 0;
}
.frame-1-J2G .navbar-1-default-DVv .auto-group-hqjs-Sov {
  margin: 0.5rem 1.2rem 0.3rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #b528cc;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #0a000b 18.75%, rgba(11, 2, 12, 0) 100%);
  flex-shrink: 0;
}
.frame-1-J2G .navbar-1-default-DVv .auto-group-xbic-hzk {
  margin: 0.5rem 1.2rem 0.3rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #b528cc;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #0a000b 18.75%, rgba(11, 2, 12, 0) 100%);
  flex-shrink: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #da1e1eab; */
}
 section:nth-child(1) {
  color: #0f0d0f00;
}
section:nth-child(2) {
  color: #36373b59;
  background: #ad1c9500;
}
section:nth-child(3) {
  color: #a82ba2;
  background: #8b104900;
}

/* For the text boxes color and text color */
section:nth-child(4) {
  color: #bb1d2a;
  background: #8b104900;

} 
section:nth-child(5) {
  color: #23da12;
  background: #8b104900;
} 
section:nth-child(6) {
  color: #bb1d2a;
  background: #8b104900;
} 
section:nth-child(7) {
  color: #23da12;
  background: #8b104900;
} 


section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  width: 70%;
  margin: 20px;
  padding: 20px;
  background: #ee0a1563;
  font-size: 20px;
  
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: left;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


