
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
  margin: auto;
}
input {
	border: none;
}
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Caveat Brush, 'Source Sans Pro';
  
}

#header {
  display: flex;
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
  margin: auto;
  
  /* background-color: black; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #29242400;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0); */

  width: 13.7rem;
  height: 3.3rem;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.word {
  margin: auto;
  color: white;
  font-size: 30px;

  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
.bg {
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 1000% 1600% ;
  background-repeat: no-repeat;
  background-image: linear-gradient(-45deg, rgb(224, 26, 59) 0%, rgb(143, 24, 199) 25%, rgb(182, 15, 112) 51%, #db9d18 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

.bg-2 {
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 1000% 1600% ;
  background-repeat: no-repeat;
  background-image: linear-gradient(-45deg, rgb(18, 113, 190) 0%, rgb(77, 192, 23) 25%, rgb(197, 110, 39) 51%, #26d382 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

.bg-3 {
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 1000% 1600% ;
  background-repeat: no-repeat;
  background-image: linear-gradient(-45deg, rgb(22, 134, 116) 0%, rgb(207, 49, 75) 25%, rgb(31, 177, 18) 51%, #7913b4 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* unvisited link */
    a:link {
      color: #b011d8;
    }

    /* visited link */
    a:visited {
      color: #b300a4;
    }

    /* mouse over link */
    a:hover {
      color: #50524f21;
    }

    /* selected link */
    a:active {
      color: #d80c0c;
    }

    /* Center the loader */
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 120px;
      height: 120px;
      margin: -76px 0 0 -76px;
      border: 16px solid #921167;
      border-radius: 50%;
      border-top: 16px solid #d6325b;
      color: #b011d8;
      background-color: rgba(7, 255, 243, 0);
      backdrop-filter: blur(5px);
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
      from {
        bottom: -100px;
        opacity: 0
      }

      to {
        bottom: 0px;
        opacity: 1
      }
    }

    @keyframes animatebottom {
      from {
        bottom: -100px;
        opacity: 0
      }

      to {
        bottom: 0;
        opacity: 1
      }
    }

    #myDiv {
      display: none;
      text-align: center;

    }

/* Navbar */
.frame-1-J2G {
  width: 100%;
  height: 100vh;
  position: relative;

}
.frame-1-J2G .desktop-1-v3e {
  box-sizing: border-box;
  padding: 23.9rem 11.8rem 23.9rem 11rem;

  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;

}

.frame-1-J2G .navbar-1-default-DVv {
  width: 100%;
  height: 7.7rem;
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: black;
  margin: auto;
  color: #a218c5;
  margin-bottom: 150px;
  z-index: 99;
}
.frame-1-J2G .navbar-1-default-DVv .auto-group-euva-876 {
  margin: 0.5rem 46rem 0.3rem 0rem;
  width: 13.7rem;
  height: 6.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.26;
  color: #b528cc;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: black;
  flex-shrink: 0;

  
}
.frame-1-J2G .navbar-1-default-DVv .auto-group-xzd2-7Up {
  margin: 0.5rem 1.2rem 0.3rem 0rem;
  width: 13.8rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #b528cc;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: black;
  flex-shrink: 0;

}
.frame-1-J2G .navbar-1-default-DVv .auto-group-j8a8-MPA {
  margin: 0.5rem 1.2rem 0.3rem 0rem;
  width: 13.8rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #b528cc;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: black;
  /* linear-gradient(180deg, #0a000b 18.75%, rgba(11, 2, 12, 0) 100%); */
  flex-shrink: 0;

}
.frame-1-J2G .navbar-1-default-DVv .auto-group-t5kg-okx {
  margin: 0.5rem 1.2rem 0.3rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #b528cc;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: black;
  flex-shrink: 0;

}
.frame-1-J2G .navbar-1-default-DVv .auto-group-hqjs-Sov {
  margin: 0.5rem 1.2rem 0.3rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #dd00ff;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: black;
  flex-shrink: 0;
  z-index: 99;
}
.frame-1-J2G .navbar-1-default-DVv .auto-group-xbic-hzk {
  margin: 0.5rem 1.2rem 0.3rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #b528cc;
  font-family: Caveat Brush, 'Source Sans Pro';
  white-space: nowrap;
  background: black;
  flex-shrink: 0;

}

/* section css */
section {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Caveat Brush, 'Source Sans Pro';
}

/* top container with detail */
section:nth-child(3) { 
  color: #ffffff;
  background: #2525205d;
  margin-top: 300px;
  margin-bottom: 200px;
  width: auto;
  height: 25%;

 
} 
section:nth-child(3) p { 
font-size: 20px ;
text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;

} 
/* About */
section:nth-child(4) {
  color: #ffffff;
  margin-bottom: 200px;
  

} 
/* Skills */
section:nth-child(5) {
  color: #ffffff;
  margin-bottom: 200px;

}
/* Work  */
section:nth-child(6) {
  color: #ffffff;
  margin-bottom: 200px;

} 

/* Contact */
section:nth-child(7) {
  color: #ffffff;
  margin-bottom: 300px;
} 
section .container-fluid-1 {
margin-top: 1%;
margin-bottom: 50px;
}
section .container-fluid-2 {
  margin-bottom: 100px;
  margin-top: 1%;
  }


section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 35px;
  text-align: center;
  justify-content: center;
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
section h3 {
  font-size: 25px;
  text-align: center;
  justify-content: center;
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
section .text-container {
  display: flex;
  justify-content: center;
   margin: auto;
  width: 100%;

}
section .caro-container{
  display: flex;
  justify-content: center;
  margin: auto;
}
section .text-container .text-box {
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 20px;
  background: #2525205d;
  font-size: 20px;
  justify-content: center;

}


section .container-fluid-1 .col-sm-3 p {
  font-size: larger;
  margin-top: 20px;

} 

section .container-fluid-1 .col-sm-3 p a {
 color: #ffffff;

} 
section .container-fluid-1  h3 {
  font-size:30px ;
  margin-bottom: 10px;
} 

  
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
section .text-container .text-box p a {
  color:#ffffff;
  }

section .text-container .text-box img {
width: 80%;
height:80%;
}

section .text-container .text-box .profile-picture img {
  width: 70%;
  height:70%;
  
  }
  #pdf-container {
    width: 100%;
    height: 100vh;
}
 

/* settings for smaller screens */
@media only screen and (max-width: 768px) {
  body {
    font-size: 20px; 
  }

  
  #header {
    flex-direction: column; 
  }

  .frame-1-J2G .desktop-1-v3e {
    padding: 5rem; 
  }

  .navbar-1-default-DVv .auto-group-euva-876,
  .navbar-1-default-DVv .auto-group-xzd2-7Up,
  .navbar-1-default-DVv .auto-group-j8a8-MPA,
  .navbar-1-default-DVv .auto-group-t5kg-okx,
  .navbar-1-default-DVv .auto-group-hqjs-Sov,
  .navbar-1-default-DVv .auto-group-xbic-hzk {
    margin: 0.5rem 0; 
    margin-bottom: 50px;
    width: 100%; /
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  section .text-container{
    position: relative;
    flex-direction: column;
   }
   section .text-container .text-box{
    width: 95%;

    position: relative;
   
   }
   section h3 {
    font-size: 20px;
    text-align: center;
    justify-content: center;
  }

   section .text-container .text-box p{
    font-size:medium;
   
   }

#pdf-container {
  width: 100%;
  height: 100%;
}
  section .text-container .text-box .profile-picture img {
    width: 90%;
    height:90%;
    
    }

/* top container */
    section:nth-child(3) { 
      height: 20%;
    }    

  /* Skills */
section:nth-child(5) .text-container {
  flex-direction:column-reverse;
}
  .footer {
    padding: 1rem 0; 
  }

  .footer__title,
  .footer_social h2,
  .footer_social,
  .footer__copy {
    font-size: 16px; 
  }


} 


.footer {
  background-color: #000000;
  color: #a218c5;
  text-align: center;
  font-weight: var(--font-semi);
  font-family: Caveat Brush, 'Source Sans Pro';
  padding: 2rem 0;
  margin-bottom: 50px;
  position: relative;
  margin: auto;
}

.footer__title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #a218c5;
  font-family: Caveat Brush, 'Source Sans Pro';
}

.footer_link h2,
.footer_link {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


